<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Just an image -->
  
  <a class="navbar-brand" href="#">
    <img src="https://tse4.mm.bing.net/th/id/OIP.Cm7ibreg3Uyisq9A11gVVgHaFF?rs=1&pid=ImgDetMain" width="60" height="50" alt="logo" class="rounded-circle">
  </a>   
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/app-attributedirective"  routerLinkActive="active">Attribute Directive </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-interpollation"  routerLinkActive="active">Interpollation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-propertybinding" routerLinkActive="active">Property Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-twowaybind" routerLinkActive="active">Two Way Binding</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/app-structuraldirective">Structural Directive</a>
            <a class="dropdown-item" routerLink="app-controlflow">Control flow</a>
            <a class="dropdown-item" routerLink="/app-pipe">Pipe</a>
            <a class="dropdown-item" routerLink="/app-login">Login</a>
  
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
  
    </div>
  
      
  </nav>