<div class="hero-container" >
    <div class="navbar">
      <button (click)="navigateToProfile()">Profile</button>
      <button (click)="navigateToContact()">Contact Us</button>
      <button (click)="logout()">Logout</button>
    </div>
    <div class="hero-content">
      <h1>Hii {{name}} Discover Your Next Opportunity</h1>
      <p>Designed just for travel agents, to inspire you customers and increase your income</p>
      <button (click)="explore()" class="btn btn-primary">Explore Now</button>
    </div>
  </div>
