<div class="hero-container" >
    <div class="navbar">
      <button (click)="navigateToProfile()">Profile</button>
      <button (click)="navigateToBookings()">My Bookings</button>
      <button (click)="navigateToContact()">Contact Us</button>
      <button (click)="logout()">Logout</button>
    </div>
    <div class="hero-content">
      <h1>Hii {{name}} Discover Your Next Adventure</h1>
      <p>Explore the world's most beautiful destinations with our exclusive travel packages.</p>
      <button (click)="bookNow()" class="btn btn-primary">Book Now</button>
    </div>
  </div>
