<div class="users-container">
    <h2>Manage Users</h2>
  
    <form *ngIf="isEditing" (ngSubmit)="updateUser()">
      <div>
        <label for="userID">User ID:</label>
        <input id="userID" [value]="userID" name="userID" disabled />
      </div>
      <div>
        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="userData.name" name="name" required />
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" [(ngModel)]="userData.email" name="email" required />
      </div>
      <!-- <div>
        <label for="password">Password:</label>
        <input id="password" [(ngModel)]="userData.password" name="password" type="password" required />
      </div> -->
      <div>
        <label for="contactNumber">Contact Number:</label>
        <input id="contactNumber" [(ngModel)]="userData.contactNumber" name="contactNumber" required />
      </div>
      <button type="submit" class="btn btn-primary">Update User</button>
      <button type="button" (click)="resetForm()" class="btn btn-secondary">Cancel</button>
    </form>
  
    <div *ngIf="userList.length > 0">
      <h3>User List</h3>
      <table>
        <thead>
          <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact Number</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList">
            <td>{{ user.userID }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.contactNumber }}</td>
            <td>
              <button (click)="editUser(user)" class="btn btn-warning">Edit</button>
              <button (click)="deleteUser(user.userID!)" class="btn btn-danger m-2">Delete</button>
      
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button (click)="goBack()" class="btn btn-secondary">Back</button>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>